/* Transition change opacity from 0 to 1 in 0.3s with ease-in and delay of 0.1s before starting transition */
.add-cell {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.1s;
  margin: 10px 0;
}

.add-cell:hover {
  opacity: 1;
}

/* Set opacity to 1 for element that has both these classNames 
As this is more specific than just .add-cell above, this rule wins and gets applied*/
.add-cell.force-visible {
  opacity: 1;
}

/* Draw divider line behind at the middle of buttons. Make the line not span full 100% of screen width */
.add-cell .divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 2.5%;
  left: 2.5%;
  border-bottom: 1px solid gray;
  width: 95%;
  z-index: -1;
}

/* Move buttons to center of screen */
.add-cell .add-buttons {
  display: flex;
  justify-content: center;
}

/* Add left/right margin to buttons to separate them */
.add-cell .add-buttons button {
  margin: 0 20px;
}
